.main__container {
  max-width: 1100px;
  padding-top: 80px;
  padding-bottom: 110px;
}

.main__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}

.main__total {
  justify-self: end;
  color: #6E6893;
}

.main__total span {
  font-size: 18px;
  font-weight: 700;
  color: #6d5bd0;
}

.main__line {
  margin-bottom: 21px;
}

.main__wrapper {
  padding-top: 15px;
  border-radius: 25px;
  border: 1px solid rgba(190, 195, 220, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.20);
}

.main__services {
  margin: 0 auto 16px;
  padding: 0 20px;
  display: flex;
}

.main__title {
  font-size: 24px;
  font-weight: 700;
  color: #6e6893;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.main__filter {
  max-width: 108px;
  width: 100%;
  margin-right: 20px;
  grid-area: filter;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 6px;
  border: 1px solid #c6c2de;
  background: #ffffff;
  font-size: 16px;
  line-height: 1.2;
  color: #25213b;
}

.search {
  display: block;
  margin-right: auto;
}

.search__wrap {
  position: relative;
}

.search__img {
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 1;
  color: #8b83ba;
}

.search__label {
  position: relative;
}

.search__input {
  display: block;
  width: 392px;
  height: 40px;
  padding-left: 40px;
  padding-right: 20px;
  border: none;
}

.search__input::placeholder {
  font-size: 14px;
  color: #6e6893;
}

.main__button {
  display: block;
  max-width: 190px;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .main__services {
    max-width: 640px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search {
    justify-self: end;
    max-width: 310px;
    width: 100%;
    margin-right: 0;
  }

  .search__input {
    max-width: 310px;
    width: 100%;
  }

  .main__button {
    margin-left: auto;
    margin-right: 15px;
  }
}

@media (max-width: 540px) {
  .main__filter {
    padding: 10px;
  }

  .main__services {
    justify-content: center;
  }

  .main__button {
    margin: 0 auto;
  }
}